spring:
  application:
    name: Praktyki
  datasource:
    url: jdbc:postgresql://localhost:5432/praktyki
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: none